.bundle/
.heroku/
.env
.env.*
!.env.example
!.env.test.local.example
!deploy/.env.example

log
log/
tmp/
node_modules/
frontend/node_modules/
vendor/bundle/
vendor/ruby-3.4.4/lib/libruby-static.a
public/assets/
public/packs/
public/webpack/

/files/
/repositories/
/screenshots/

*.log
*.dump
*.sql
*.tar
*.tar.gz
*.tgz
!vendor/ruby-3.4.4/lib/libruby-static.a.gz

.ifcopenshell.*.tmp

plugins/**/temp*
plugins/**/tmp_*
plugins/**/new_obj*.txt
